@tailwind base;
@tailwind components;
@tailwind utilities;
@import url("https://fonts.googleapis.com/css?family=Noto+Sans+TC");

@layer utilities {
  @variants before {
    .footer-veiw-icon {
      content: "";
      display: block;
      position: absolute;
      left: 0;
      bottom: 0;
      width: 2rem;
      height: 2rem;
      background: url("../public/image/footer_icon.png") no-repeat 0% 50%/100%;
    }
  }
}

:root {
  --button-bg: #ff7612;
  --schema-blue: #1b487b;
  --light-blue: #1d80d3;
  --dark-blue: #021d3b;
  --font-white: #f8f8f8;
  --footer-view-bg: #01162c;
}

body {
  font-family: Arial, Helvetica, sans-serif, "Noto Sans TC", sans-serif;
  font-size: 1rem;
  font-weight: 400;
  line-height: 1.36;
  color: #212529;
  text-align: left;
}
html {
  font-size: 16px;
  line-height: 1.15;
}
* {
  box-sizing: border-box;
  letter-spacing: 1px;
  color: #4a4a4a;
}
/* scrollbar */
::-webkit-scrollbar {
  width: 0;
}

.blog-center-content::-webkit-scrollbar {
  width: 0.4vw;
}
.blog-center-content::-webkit-scrollbar-thumb {
  background: linear-gradient(transparent, #ccc);
  border-radius: 6px;
}
/* toolkits */
.hamburgur {
  @apply w-[60px] h-[60px] flex flex-col justify-center items-center relative cursor-pointer;
}

.hamburgur .meat {
  @apply w-[30px] border-solid border border-slate-300 relative;
}
.hamburgur::before {
  content: "";
  @apply absolute w-[30px] border-solid border border-slate-300;
  top: 20px;
}

.hamburgur::after {
  content: "";
  @apply absolute w-[30px] border-solid border border-slate-300;
  bottom: 20px;
}

.meat::before {
  content: "";
  @apply hidden absolute  w-[30px] border-solid border border-slate-300;
}

.hamburgur.isActive > .meat {
  @apply hidden;
}

.hamburgur.isActive::before {
  transform: translateY(10px) rotate(45deg);
}

.hamburgur.isActive::after {
  transform: translateY(-8px) rotate(-45deg);
}
/* nav */
.desktop > .left-nav {
  @apply hidden;
}

.show-nav-area:hover,
.show-nav-area:active {
  @apply w-[50%] h-[100vh] block;
}
.show-nav-area:hover > .show-nav-icon,
.show-nav-area:active > .show-nav-icon {
  @apply hidden;
  transition: all cubic-bezier(0.075, 0.82, 0.165, 1) 0.8s;
}

.show-nav-area:hover > .left-nav,
.show-nav-area:active > .left-nav {
  @apply block;
  transition: all cubic-bezier(0.075, 0.82, 0.165, 1) 0.8s;
}

.show-nav-area:hover > .left-nav,
.show-nav-area:active > .left-nav {
  @apply block;
  transition: all cubic-bezier(0.075, 0.82, 0.165, 1) 0.8s;
}

.show-nav-area > .left-nav {
  @apply hidden;
}

/* font-awesome-icon */
.font-awesome-icon.close-blog-list path {
  color: #b2b2b2;
}

/* markdown */
.react-markdown {
  @apply break-words overflow-hidden;
}
.react-markdown h1 {
  @apply my-2 text-2xl font-semibold;
}
.react-markdown h2 {
  @apply my-3 text-2xl font-semibold;
}
.react-markdown h3 {
  @apply my-2 text-xl font-semibold;
}
.react-markdown h4 {
  @apply my-2 text-lg font-semibold;
}

.react-markdown p {
  @apply leading-[1.5] text-base;
}

.react-markdown pre {
  @apply my-8;
}

.react-markdown img {
  @apply my-3;
}

.react-markdown pre div {
  @apply rounded-[5px];
}

.react-markdown a {
  @apply text-xl text-blue-900 my-3;
}

/* 攝影 */
.photo-component img {
  position: static;
  height: auto !important;
}
@media screen and (min-width: 1024px) {
  .hamburgur {
    @apply hidden;
  }
  .desktop > .left-nav {
    @apply block;
    transform: translateX(0px);
  }
}
